<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <h2 class="col-sm-offset-1">
                My texts
            </h2>
        </div>

        <form class="well form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="searchID">Search</span>
                            <input type="search" class="form-control" placeholder="Filter by title ..."
                                   aria-describedby="searchID">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="list-group">
                            <a href ng-click="edit(text)" class="list-group-item" ng-repeat="text in texts">
                                {{text.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button class="btn btn-info" ui-sref="add">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>