<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <h2 class="col-sm-offset-2" style="margin-bottom: 30px">
                My texts
            </h2>
        </div>

        <form class="well form-horizontal">
            <div class="row">
                <div class="form-group col-sm-10">
                    <div class="col-sm-offset-1 col-sm-10">
                    <label class="col-sm-1 control-label" for="searchID">Search</label>
                    <input type="search" class="col-sm-2 form-control"  id="searchID" placeholder="Search text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5 col-sm-offset-1">

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                    <button class="btn btn-info" ui-sref="add">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>